@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #333333;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  /*
  Use 60/30/10 rule
    - 60% primary
    - 30% secondary
    - 10% accent
  */
  --primary: #ea580c;
  --secondary: #11859c;
  --accent: #0ec4e8;
}
